<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}Garage V.Parrot Automobile
		{% endblock %}
	</title>


	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{% block stylesheets %}
		{# cdn fontawesome #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="{{ asset('./styles/styles.css')}}">
	{% endblock %}


</head>

{# Grace a l'access control dans security.yaml, cette page redirige automatiquement vers la page de connexion si l'on essaie d'y acceder sans etre connecté #}

{% block body %}

{% include "connected/_connected.html.twig" %}
<div class="panel-board">
	<h1>
		<a href="/">
			<img src="../assets/img/logo-slogan-mobile.png" alt="logo du site">
		</a>
	</h1>
	<div class="panel-category">
		<ul>
			<li>
				<a href="/admin/">
					<i class="fa-solid fa-gauge"></i>
					Tableau de bord
				</a>
			</li>
			<li>
				<a href="/admin/services/">
					<i class="fa-solid fa-newspaper"></i>
					Services
				</a>
			</li>
			<li>
				<a href="/admin/voitures/">
					<i class="fa-solid fa-car"></i>
					Voitures
				</a>
			</li>
			<li>
				<a href="/admin/commentaires/">
					<i class="fa-solid fa-flag"></i>
					Avis
				</a>
			</li>
			{% if 'ROLE_ADMIN' in app.user.roles %}
				<li class="active">
					<a href="/admin/create/">
						<i class="fa-solid fa-person"></i>
						Créer Employé
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>

{% if app.user %}
	{# si on est connecté #}
	{% if 'ROLE_ADMIN' in app.user.roles %}
		{# si on est admin, on peut créer un nouvelle employé #}
		<div class="create-employe-layout">
			<div class="create-employe-container">
				<h1 class="create-employe-title">
					<a href="/">
						<img src="../assets/img/logo-desktop.png" alt="logo du site">
					</a>
				</h1>
				<div class="create-interface">
					<div class="list-employe-interface">
						<h2>Liste des employés</h2>
						<ul>
							{% for user in users %}
								<li>
									<span>{{user.id}}</span>
									<span>{{user.email}}</span>

									<span>
										{{user.name}}
										{{user.firstname}}
									</span>

									<span>
										{% if 'ROLE_ADMIN' in user.roles %}
											ADMIN

											{# si l'utilisateur est un employé, il est possible de le supprimer grace à un bouton #}
										{% else %}
											EMPLOYE
											<span>
												<a href="/admin/delete/{{user.id}}">
													<i class="fa-solid fa-trash delete-employe"></i>
												</a>
											</span>
										{% endif %}
									</span>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="create-employe-interface">
						<h2>Créer un nouveau compte employé</h2>
						{# {{form(formCreate)}} #}
						{{ form_start(formCreate, {'attr': {'class': 'container'}}) }}
						{{form_row(formCreate.email)}}
						{{form_row(formCreate.name)}}
						{{form_row(formCreate.firstname)}}
						{# form_row comprend form_label, form_widget et form_errors #}
						<div>
							{{form_label(formCreate.password)}}
							<div>
								<span role="button" onclick="togglePassword()">
									<i class="fa-solid fa-eye hide-eye" id="eye"></i>
									<i class="fa-solid fa-eye-slash" id="eye-slash"></i>
								</span>
								{{form_widget(formCreate.password)}}
							</div>
						</div>
						{{form_errors(formCreate.password)}}
						{{ form_rest(formCreate) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% else %}
	{# si un employé essaie de se rendre sur cette page, un message le redirige vers le panel d'administration #}
	<div class="create-employe-layout">
		<div class="create-employe-container">
			<h1>
				<a href="/">
					<img src="../assets/img/logo-desktop.png" alt="logo du site">
				</a>
			</h1>
			<div class="create-interface">
				<p>Vous n'êtes pas autorisé à acceder a l'écran de gestion des employés.
					<a href="/admin">Cliquer ici</a>
					pour retourner sur le panel d'administration.</p>
			</div>
		</div>
	</div>
{% endif %}{% endif %}{% endblock %}{# on crée un fichier js specifique a cette page #}<script src="{{asset('./scripts/scripts-admin-create.js')}}"></script></html>

